@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    background: black;
}

p {
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
    line-height: 2;
    font-size: 13px;
    margin: 30px;
    font-style: italic;
    margin-right: 40%;
}

.big {
    font-size: 25px;
}

span {
    margin: 50px;
    font-size: 15px;
    font-style: normal;
    line-height: 3;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* change this to whatever height you want it */
}

.louis {
    color: blue;
}

.joe {
    color: red;
}

.angel {
    color: green;
}

.redacted {
    color: yellow;
}

.lord {
    color: cyan;
}

.soft {
    color: magenta;
}

.intro {
    background: url(images/louis1.png);
}

.eye {
    background: url(images/louis2.png) no-repeat center center; 
    height: 1000px;
}