@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Ceviche+One&display=swap');

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
   }

   * {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Caladea', serif;
    /*height: 7603px;*/
    background: #F3EFE3;
    max-width: 100%;
}

.light {
    margin: 0 195px;
    width: 1140px;
}

/*General Font Stuff*/
h1{
    font-size: 48px;
    color: #8B7133;
    letter-spacing: 2px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    color: #8B7133;
    font-weight: 400;
    padding-bottom: 5px;
}

p {
    font-size: 14px;
    color: #101001;
}

p span {
    color: #8B7133;
}

ol li {
  counter-increment: list;
  list-style-type: none;
  margin-left: 100px;
  margin-right: 257px;
  padding: 7px;
  font-size: 14px;
}

ol li span {
  color: #8B7133;
}

ol li:before {
  color: #8B7133;
  content: counter(list) ". ";
}

.sectionWide p {
    width: 700px;
    margin-left: 67px;
    line-height: 20px;
}

.sectionSlim p {
    width: 335px;
    margin-left: 67px;
    line-height: 20px;
}

.sectionWide {
  padding-top: 23px;
  padding-bottom: 60px;
  margin-left: 139px;
}

.darkbox .sectionWide p {
  color: #F3EFE3;
}

.sectionWide img {
  margin: -10px 45px;
  width: 36px;
}

.sectionSlim {
  padding-top: 23px;
  padding-bottom: 60px;
  margin-left: 139px;
}

.darkbox .sectionSlim p {
  color: #F3EFE3;
}

.sectionSlim img {
  margin: -10px 45px;
  width: 36px;
}

.stackedWithSlim {
  margin-top: -60px;
}

.caption2 {
  color: #0B2A54;
  text-align: center;
}

.h2mimic {
  font-size: 30px;
  color: #8B7133;
  font-weight: 400;
}

.dark {
  background: #101001;
  margin-top: 350px;
}

.darkbox {
  margin: 0 195px;
  width: 1140px;
}

.help {
  background: url(images/gradient.png);
  background-size: cover;
}

.fired {
  margin: 0 195px;
  width: 1140px;
}

/*Navigation stuff*/
nav {
  position: sticky;
  top: 0;
 background: #0B2A54;
  height: 83px;
  padding: 5px;
  z-index: 2;
}

  nav img {
    width: 168px;
    padding-left: 140px;
    padding-top: 10px;
}
  
  nav ul {
    float: right;
    margin-top: 40px;
    padding-right: 150px;
}
  
  nav li {
    list-style: none;
    display: inline-block;
}
  
  nav a {
    text-decoration: none;
    color: #F3EFE3;
    transition: color .3s;
    padding: 12px;
    font-size: 14px;
}
  
  nav a:hover {
    color: #8B7133;
}

  nav span {
    color: #8B7133;
}

/*Welcome welcome welcome!*/
.hero {
    background: url(images/SAPgs1.png);
    background-size: cover;
    position: relative;
    height: 500px;
    width: 100vw;
    margin: 0 -195px;
}

.bigIdea {
    position: absolute;
    margin: 200px 514px;
    margin-right: 0;
    padding: 15px;
    text-align: center;
    background: rgba(255,255,255,.25);
}

.bigIdea span {
    font-size: 36px;
    color: #F3EFE3;
}

.section2 {
  background: url(images/SAPgs2.png);
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100vw;
  margin: 0 -195px;
}

#Grass {
  margin: 225px 655px;
  margin-right: 0;
}

#map {
  background: url(images/SAPMAP1.png);
  background-size: cover; 
  height: 200px;
  width: 276px;
  display: flex;
  float: right;
  margin-top: -265px;
  margin-right: 200px;
  position: relative;
}

#mapCaption {
  display: flex;
  float: right;
  margin-top: -60px;
  margin-right: 280px;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0;
}

.caption p {
  text-align: right;
  padding: 5px;
  background: rgba(0,0,0,.75);
  color: #F3EFE3;
}

#map2 {
  background: url(images/SAPMAP2.png);
  background-size: cover; 
  height: 276.22px;
  width: 349px;
  display: flex;
  float: left;
  margin-top: 0;
  margin-left: 150px;
  position: relative;
}

#map3 {
  background: url(images/SAPMAP3.png);
  background-size: cover; 
  height: 276.22px;
  width: 349px;
  display: flex;
  float: right;
  margin-top: 0;
  margin-right: 150px;
  position: relative;
}

#IDEM {
  background: url(images/SAPgs3.png);
  background-size: cover;
  height: 500px;
  position: relative;
  width: 99vw;
  margin: 0 -195px;
}

#Idea {
  position: absolute;
  background: none;
  margin: 225px 695px;
}

#Idea h1 {
  color: #101001;
}

.louiebox {
  background: #0B2A54;
  width: 589px;
  height: 629px;
  margin: 0 -195px;
  position: relative;
  margin-bottom: 10px;
}

.louiebox img {
  width: 589px;
  height: 489px;
  object-fit: cover;
}

#louiequote {
  color: #F3EFE3;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding: 35px;
}

.inline {
  position: absolute;
  margin-left: 600px;
  margin-top: -450px;
}

/*Carousel Stuff*/

.main-carousel {
  margin: 0 195px;
}

.carousel-cell {
  width: 203px; /* full width */
  height: 308px; /* height of carousel */
  margin-right: 50px;
  background-color: #8B7133;
  opacity: .5;
  transition: .3s;
}

.carousel-cell.is-selected {
  background-color: #0B2A54;
  opacity: 1;
}

.carousel-cell p {
  color: whitesmoke;
  text-align: center;
  padding: 2px;
  font-style: italic;
  font-size: 14px;
}
/*End*/

.diagram {
  margin-top: 50px;
  margin-left: 226px;
  width: 714px;
  display: block;
  border-top: 1.5px solid #8B7133;
  border-bottom: 1.5px solid #8B7133;
}

.diagram h2 {
  text-align: center;
}

.imscrewed {
  width: 568px;
  background-color: #0B2A54;
  margin-left: 301px;
  margin-top: 50px;
}

.imscrewed p {
  color: #F3EFE3;
  text-align: center;
  padding: 10px 15px;
}

.underneath {
  text-decoration: none;
  font-weight: bold;
  color: #101001;
  transition: color .3s;
  border-bottom: #101001 solid 1px;
}

.underneath:hover {
  color: #8B7133;
  border-bottom: #8B7133 solid 1px;
}

.spacer {
  font-size: 50px;
  height: 50px;
  width: 99999px;
  background: #101001;
  color: #101001;
}

.section4 {
  background: url(images/SAPgs4.png);
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100vw;
  margin: 0 -195px;
}

#Venus {
  margin: 225px 607px;
  margin-right: 0;
}

.imsotired {
  margin: 0 397px;
  text-align: center;
}

.imsotired p {
  color: #0B2A54;
  padding: 5px;
}

.inline2 {
  position: absolute;
  margin-left: 600px;
  margin-top: -343px;
}

#today {
  background: url(images/SAPgs5.png);
  background-size: cover;
  height: 500px;
  position: relative;
  width: 99vw;
  margin: 0 -195px;
}

#today h1 {
  color: white;
  filter: drop-shadow(10px 10px 4px black);
  margin: 225px 7px;
  margin-right: 0;
}

#today .flip {
  color: darkolivegreen;
  opacity: .4;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  filter: none;
  margin-top: -280px;
}

.xx53 {
  font-size: 20px;
  color: black;
}

#big1 {
  font-size: 2rem;
  line-height: 4rem;
}

#big2 {
  font-size: 3rem;
  line-height: 5rem;
}

#big3 {
  font-size: 4rem;
  line-height: 6rem;
}

#big4 {
  font-size: 5rem;
  line-height: 7rem;
}

#bigcluster {
  font-size: 5rem;
  line-height: 2rem;
}

#biggercluster {
  font-size: 5rem;
  line-height: 5rem;
  color: white;
}

#palm {
  color: black;
}

.move1 {
  animation-name: move1;
  animation-duration: 1000s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;
  display: block;
}

.move2 {
  animation-name: move2;
  animation-duration: 2000s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;
  display: block;
}

.move3 {
  animation-name: move3;
  animation-duration: 1000s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;
  display: block;
}

@keyframes move1 {
  0% {height: 300px; width: 300px;}
  100% {height: 300px; width: 5000px;}
}

@keyframes move2 {
  0% {}
  15% {}
  100% {height: 1000px; width: 5000px;}
}

@keyframes move3 {
  0% {}
  15% {margin-top: -10px; height: 110%;}
  50% {margin-top: -100px; height: 160%;}
  100% {margin-top: -200px; height: 200%;}
}

/*Modal Moment hehehe*/

.helpme {
  display: none;
}

.helpme p {
  display: none;
}

/*../ for up folders, ../../ goes up two, /word goes down, etc. */

@media(max-width: 1200px) {
  body::-webkit-scrollbar {

    display: none;
    
    }

  .helpme {
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,.95);
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    z-index: 4;
  }

  .helpme p {
    display: block;
    position: fixed;
    text-align: center;
    background-color: #8B7133;
    color: #F3EFE3;
    margin: 20% 20%;
    padding: 20px;
    font-size: 20px;
  }

  .helpme p span {
    color: darkred;
    font-weight: bold;
    font-size: 25px;
  }
}
